[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab-drawio = "==0.9.0"
jupyterlab-language-pack-fr-FR = "==4.0.post3"
jupyterlab-tour = "==3.1.4"
jupyterlab-webrtc-docprovider = "==0.1.1"
jupyterlite = {extras = ["all"], version = "==0.1.3"}

[dev-packages]
pandas = "==2.1.3"

[requires]
python_version = "3.9"
